/*

Add styles or override variables from the theme here.

*/

$google_font_name: "Atkinson Hyperlegible";
$google_font_family: "Atkinson+Hyperlegible:400,400i,700,700i";

@import url('//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css');

$font-family-monospace: "Hack", Consolas, "Menlo", monospace;

code[class*=language-], pre[class*=language-]{
    font-family: "Hack", Consolas, "Menlo", monospace;
}

$primary: #3D348B;
$secondary: #D81159;
